@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --width : 1150px;
  --applybgcolor : #1360A5;
  --footerbgcolor : #10518A;
  --copyrightbgcolor : #002749;
  --nonavbarheight : calc(100vh - 75px);
}
*{
  padding : 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bahnschrift';
}
*::-webkit-scrollbar{
  display: none;
}
